@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>STOK TAKİBİ</h1>
    <p class="lead">ASP.NET MVC ile geliştirdiğim stok takibi uygulması HTML, CSS ve JavaScript kullandım.</p>
    <p><a href="@Url.Action("Index", "Kategori")" class="btn btn-primary btn-lg">Open &raquo;</a></p>
</div>

